*/Build/
*/Binaries/
*/DerivedDataCache/
*/Intermediate/
*/Saved/
Content/StarterContent/

*.db
.vs/BuildingEscape/v15/Browse.VC.opendb
.vs/BuildingEscape/v15/ipch/AutoPCH/312505c012b49394/BUILDINGESCAPE.ipch
.vs/
